h1 {
  margin-top:5%;
  color: black;
  text-align: center;
}
body{
background-image: url("../my1.jpg");
}
.pin-login-container {
  display : inline-block;
  border-radius: 10px;
  margin : 3% 39% 10%;
  padding: 10px;
  font-size: 20px;
  background-image:none;
  border: 1px solid Gray ;
  user-select: none;
}
.pin-login-text{
  margin: 10%  auto  10px;
  display: block;
  width: 80%;
  font-size: 0.6em;
  text-align: center;
  letter-spacing: 0.2em;
  background: rgba(0,0,0,0.15);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: default;
}
button{
width: 60px;
height: 60px;
margin: 10px;
background:none;
color: #363b5e;
border-width:0;
font-weight: bold;
cursor: pointer;
align-items: center;
justify-content: center;
border-radius: 50%


}
